.b-sidebar {
    z-index: 10000;
    position: absolute;
    top: 0;
    left: -275px; 
    height: 100%;
    width: 275px;
    background-color: white;
    transition: left 0.5s;
    @media only screen and (min-width : 1120px) {
      left: 0;
    }
    &--active {
        left: 0;
        transition: left 0.5s;
    }
    &__header {
        position: absolute;
        width: 100%;
        height: 3em;
        background-color: #e74c3c;
    }
    &__content {
        padding-top: 3em;
        height: 100%;
    }
    &__container {
        height: 100%;
        width: 100%;
        overflow: auto;
        box-shadow: 0px 5px 10px -5px black;
    }
}

.b-search {
    padding: 0.5em 15px;
    height: 100%;
    &__input {
        display: block;
        border-radius: 3px;
        outline: none;
        box-shadow: none;
        background-color: rgba(255, 255, 255, 0.15);
        border: none;
        padding: 0 5px 0 2em;
        vertical-align: middle;
        height: 2em;
        width: 100%;
        color: white;
        background-image: url(../../images/search.svg);
        background-size: 1em 1em;
        background-position: 0.5em 0.5em;
        background-repeat: no-repeat;
        &::-webkit-input-placeholder {color:#fff;}
        &::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
        &:-moz-placeholder           {color:#fff;}/* Firefox 18- */
        &:-ms-input-placeholder      {color:#fff;}
    }
}
